<div class="commerce-order-detail-information ui grid">
    <div class="six wide column">
        <h3 class="ui header">{{ lex('commerce_spraypay.chargeback.with_reference', {'reference': reference}) }}</h3>

        <div class="ui list commerce-order-grid-meta">
            <div class="item">
                <div class="ui grid">
                    <div class="column">
                        <table class="ui basic definition table commerce-transaction-table">
                            <tr>
                                <td>{{ lex('commerce_spraypay.request_date') }}</td>
                                <td>{{ request_date }}</td>
                            </tr>
                            <tr>
                                <td>{{ lex('commerce_spraypay.request_amount') }}</td>
                                <td>{{ request_amount }}</td>
                            </tr>
                            <tr>
                                <td>{{ lex('commerce_spraypay.request_reason') }}</td>
                                <td>{{ request_reason }}</td>
                            </tr>
                            <tr>
                                <td>{{ lex('commerce_spraypay.reference') }}</td>
                                <td>{{ reference }}</td>
                            </tr>
                            <tr>
                                <td>{{ lex('commerce_spraypay.status') }}</td>
                                <td>{{ status }}</td>
                            </tr><tr>
                                <td>{{ lex('commerce_spraypay.message') }}</td>
                                <td>{{ message }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<div id="commerce-modal-actions" class="ui very basic vertical clearing segment">
    <button class="ui button commerce-modal-close" type="button" aria-label="{{ lex('commerce.close') }}">
        {{ lex('commerce.close') }}
    </button>

    {% for action in actions %}
        <a href="{{ action.url }}" class="ui button {% if action.modal %}commerce-ajax-modal{% endif %} {{ action.class }}" {% if action.newWindow %}target="_blank"{% endif %}>
            {% if action.icon %}<i class="icon {{ action.icon }}"></i>{% endif %}
            {{ action.title }}
        </a>
    {% endfor %}
</div>