<br/>
{% for action in actions %}
    <a href="{{ action.url }}" class="ui small button {% if action.modal %}commerce-ajax-modal{% endif %} {{ action.class }}" {% if action.newWindow %}target="_blank"{% endif %}>
        {% if action.icon %}<i class="icon {{ action.icon }}"></i>{% endif %}
        {{ action.title }}
    </a>
{% endfor %}

<div class="commerce-grid">
    <form action="{{ toolbar_action }}" method="POST" class="commerce-grid-toolbar c ui form" id="commerce-grid-{{ key }}" data-widget="{{ key }}">
        <input type="hidden" name="_widget" value="{{ key }}">
        <input type="hidden" name="csrf_grid_token" value="{{ csrf_grid_token }}">
        <input type="hidden" class="commerce-grid-page-input" name="{{ key }}[page]" value="{{ pages.current.number }}">

        <div class="fields">
            {# Loop over each item in the toolbar to create, well, the toolbar! :D #}
            {% for toolbar_item in top_toolbar %}
                <div class="{{ toolbar_item.width }} field commerce-grid-toolbar-item commerce-grid-toolbar-item-{{ toolbar_item.position }}" id="commerce-grid-{{ key }}-toolbar-{{ toolbar_item.name }}-wrapper">
                    {% if toolbar_item.type == 'textfield' %}
                        <label for="commerce-grid-{{ key }}-toolbar-{{ toolbar_item.name }}">{{ toolbar_item.title }}</label>
                        <input  id="commerce-grid-{{ key }}-toolbar-{{ toolbar_item.name }}"
                                type="{{ toolbar_item.inputtype | default('text') }}"
                                name="{{ key }}[{{ toolbar_item.name }}]"
                                value="{{ toolbar_item.value }}">
                    {% elseif toolbar_item.type == 'select' %}
                        <label for="commerce-grid-{{ key }}-toolbar-{{ toolbar_item.name }}">{{ toolbar_item.title }}</label>
                        <select id="commerce-grid-{{ key }}-toolbar-{{ toolbar_item.name }}"
                                name="{{ key }}[{{ toolbar_item.name }}]">
                            <option value=""></option>
                            {% if toolbar_item.optgroups %}
                                {% for optgroup in toolbar_item.optgroups %}
                                    <optgroup label="{{ optgroup.label }}">
                                        {% for option in optgroup.options %}
                                            <option value="{{ option.value }}">{{ option.label }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            {% endif %}
                            {% if toolbar_item.options %}
                                {% for option in toolbar_item.options %}
                                    <option value="{{ option.value }}">{{ option.label }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    {% elseif toolbar_item.type == 'button' %}
                        {% if toolbar_item.menu|length > 0 %}
                            <div class="ui buttons">
                                <a href="{{ toolbar_item.link }}"
                                   class="ui small primary labeled icon button {{ toolbar_item.button_class }}"
                                   data-modal-title="{{ toolbar_item.modal_title }}"
                                   role="button"
                                   id="commerce-grid-{{ key }}-toolbar-{{ toolbar_item.name }}">
                                    <i class="{{ toolbar_item.icon_class }} icon"></i>
                                    {{ toolbar_item.title }}
                                </a>
                                <div class="ui simple dropdown icon primary button">
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {% for action in toolbar_item.menu %}
                                            <a href="{{ action.url }}"
                                               class="item {% if action.modal %}commerce-ajax-modal{% else %}commerce-ajax-fullpage{% endif %}"
                                               {% if action.modal_title %}data-modal-title="{{ action.modal_title }}"{% endif %}
                                               tabindex="0">
                                                {% if action.icon %}<i class="icon {{ action.icon }}"></i>{% endif %}
                                                {{ action.title }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ toolbar_item.link }}"
                               class="ui small primary labeled icon button {{ toolbar_item.button_class }}"
                               data-modal-title="{{ toolbar_item.modal_title }}"
                               role="button"
                               id="commerce-grid-{{ key }}-toolbar-{{ toolbar_item.name }}">

                                <i class="{{ toolbar_item.icon_class }} icon"></i>
                                {{ toolbar_item.title }}

                            </a>
                        {% endif %}
                    {% else %}
                        <label for="commerce-grid-{{ key }}-toolbar-{{ toolbar_item.name }}">{{ toolbar_item.title }}</label>
                    {% endif %}
                </div>
            {% endfor %}

            {# Show a button to apply the filter; this will be hidden if js is available as filters apply automatically then #}
            <div class="field commerce-hide-js">
                <input type="submit" class="ui button" value="{{ lex('commerce.apply_filter') }}">
            </div>
        </div>
    </form>

    <table class="{% block tableClasses %}ui small compact selectable table{% endblock %}">
        <thead>
        <tr>
            {% for column in columns %}
                <th class="commerce-grid-cell commerce-grid-cell-{{ column.name }} single line">
                    {% if column.sortable %}
                        <input type="radio" {% if default_sort == column.name %}checked="checked"{% endif %}
                               name="{{ key }}[sortby]"
                               value="{{ column.name }}"
                               id="commerce-grid-{{ key }}-sortby-{{ column.name }}"
                               class="commerce-grid-sortby">
                        <label for="commerce-grid-{{ key }}-sortby-{{ column.name }}" title="{{ lex('commerce.sort_by', { name: column.title }) }}">
                            {{ column.title }}
                        </label>
                    {% else %}
                        {{ column.title }}
                    {% endif %}
                </th>
            {% endfor %}
            <th class="commerce-grid-cell commerce-grid-cell-actions">
                <input type="radio" {% if default_sort_dir == 'ASC' %}checked="checked"{% endif %}
                       name="{{ key }}[sortdir]"
                       value="ASC"
                       id="commerce-grid-{{ key }}-sortdir-asc"
                       class="commerce-grid-sortdir">
                <label for="commerce-grid-{{ key }}-sortdir-asc">
                    <i class="icon icon-sort-amount-asc" aria-label="{{ lex('commerce.sort_asc') }}" title="{{ lex('commerce.sort_asc') }}"></i>
                </label>

                <input type="radio" {% if default_sort_dir == 'DESC' %}checked="checked"{% endif %}
                       name="{{ key }}[sortdir]"
                       value="DESC"
                       id="commerce-grid-{{ key }}-sortdir-desc"
                       class="commerce-grid-sortdir">
                <label for="commerce-grid-{{ key }}-sortdir-desc">
                    <i class="icon icon-sort-amount-desc" aria-label="{{ lex('commerce.sort_desc') }}" title="{{ lex('commerce.sort_asc') }}"></i>
                </label>
            </th>
        </tr>
        </thead>
        <tbody class="commerce-grid-row-container">
        {% for item in items %}
            {% block render_item %}
                <tr class="commerce-grid-row commerce-grid-summary-row" id="commerce-grid-row-record-{{ item.id }}" tabindex="0">
                    {% for column in columns %}
                        <td class="commerce-grid-cell commerce-grid-cell-{{ column.name }}">
                            {% if column.raw %}
                                {{ item[column.name]|raw }}
                            {% else %}
                                {{ item[column.name] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="commerce-grid-cell commerce-grid-cell-actions">
                        {% if has_actions %}
                            {% if item.actions|length == 1 %}

                                {% set action = item.actions[0] %}
                                {% if action.callback %}
                                    <button
                                            onclick="Commerce.Modal.callback({{ item.id }}); return false;"
                                            class="ui simple icon button {% if action.modal %}commerce-ajax-modal{% else %}commerce-ajax-fullpage{% endif %}"
                                            {% if action.new_window %}target="_blank"{% endif %}
                                            {% if action.modal_title %}data-modal-title="{{ action.modal_title }}"{% endif %}
                                            tabindex="0">
                                        {% if action.icon %}<i class="icon {{ action.icon }}"></i>{% endif %}
                                        {{ action.title }}
                                    </button>
                                {% else %}
                                    <div class="ui simple icon button">
                                        <a
                                                {% if action.url|length > 0 %}href="{{ action.url }}"{% endif %}
                                                {% if action.callback %}onclick="Commerce.Modal.callback({{ item.id }}); return false;"{% endif %}
                                                class="item {% if action.modal %}commerce-ajax-modal{% else %}commerce-ajax-fullpage{% endif %}"
                                                {% if action.new_window or action.newWindow %}target="_blank"{% endif %}
                                                {% if action.modal_title or action.modalTitle %}data-modal-title="{{ action.modal_title|default(action.modalTitle) }}"{% endif %}
                                                tabindex="0">
                                            {% if action.icon %}<i class="icon {{ action.icon }}"></i>{% endif %}
                                            {{ action.title }}
                                        </a>
                                    </div>
                                {% endif %}

                            {% elseif item.actions|length > 1 %}
                                <div class="ui small buttons">
                                    <div class="ui simple dropdown icon button" tabindex="0">
                                        {{ lex('commerce.actions') }}
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {% for action in item.actions %}
                                                <a
                                                        {% if action.url|length > 0 %}href="{{ action.url }}"{% endif %}
                                                        {% if action.callback %}onclick="Commerce.Modal.callback({{ item.id }}); return false;"{% endif %}
                                                        class="item {% if action.modal %}commerce-ajax-modal{% else %}commerce-ajax-fullpage{% endif %}"
                                                        {% if action.new_window or action.newWindow %}target="_blank"{% endif %}
                                                        {% if action.modal_title or action.modalTitle %}data-modal-title="{{ action.modal_title|default(action.modalTitle) }}"{% endif %}
                                                        tabindex="0">
                                                    {% if action.icon %}<i class="icon {{ action.icon }}"></i>{% endif %}
                                                    {{ action.title }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if item.detail_row|length > 0 %}
                    <tr class="commerce-grid-row commerce-grid-details-row" id="commerce-grid-row-record-{{ item.id }}-details" tabindex="0">
                        <td colspan="{% if has_actions %}{{ columns|length + 1}}{% else %}{{ columns|length }}{% endif %}" class="commerce-grid-cell commerce-grid-cell-{{ column.name }}">
                            {% autoescape false %}{{ item.detail_row }}{% endautoescape %}
                        </td>
                    </tr>
                {% endif %}
            {% endblock %}
        {% endfor %}
        {% if items|length == 0 %}
            <tr class="commerce-grid-row commerce-grid-no-results-row" id="commerce-grid-row-record-{{ item.id }}" tabindex="0">
                <td class="commerce-grid-cell commerce-grid-cell-no-results"
                    colspan="{% if has_actions %}{{ columns|length + 1}}{% else %}{{ columns|length }}{% endif %}">
                    <div class="ui center aligned padded message">
                        {{ no_results }}
                    </div>
                </td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot class="commerce-grid-footer full-width">
        {% if footer_rows|length > 0 %}
            {% for frow in footer_rows %}
                <tr>
                    {% for column in frow %}
                        <th class="commerce-grid-footer-cell commerce-grid-footer-cell-{{ column.key }} {{ column.classes }}" colspan="{{ column.colspan }}">
                            {{ column.value | raw }}
                        </th>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        </tfoot>
    </table>
</div>